*{
    padding: 0; 
    margin: 0; 
    border: 0; }
*:before,
*:after{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; } 
:focus,:active,a:focus,a:active{
    outline: none;} 
nav,footer,header,aside{
    display: block;} 
html,body{ height: 100%; 
    width: 100%; 
    font-size: 100%; 
    line-height: 1; 
    font-size: 14px; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; } 
input,button,textarea{font-family:inherit;} 
input::-ms-clear{
    display: none;} 
button{
    cursor: pointer;} 
button::-moz-focus-inner {
    padding:0;border:0;} 
a, a:visited, a:hover{
    text-decoration: none;} 
ul li{
    list-style: none;} 
img{
    vertical-align: top;} 
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: 400;}


body{
    font-family: 'Playfair Display', serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 51px 145px 55px 145px;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 73px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 73px;
    color: #2F2E2E;
}

.logo{
    font-size: 42px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    color: #2F2E2E;
}

.logo a{
    color:black
}

.menu li a{
    color:black
}

.menu li a:hover{
    color: rgb(67, 132, 230);
}

.search button{
    background-color:transparent;
}

.header_house{
    background-size: cover;
}

.header_inner{
    background-image: url(./img/header_house.jpg);
    min-height: 784px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header_text{
    height: 550px;
    width: 691px;
    background-color: white;
    opacity: 0.9;
    color: #2F2E2E;
}

.header_text h1{
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: bold;
    margin: 138px 166px 15px 100px;
    line-height: 65px;
}

.header_text p{
    font-family: 'Inter', serif;
    font-size: 32px;
    font-weight: 200;
    margin: 0 155px 139px 100px;
    line-height: 39px;
}

.our_services{
    height: 365px;
    background-color: rgba(37, 77, 77, 0.2);;
    font-family: 'Playfair Display', serif;
    color: #2F2E2E;
}

.services_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 206px 0 205px;
    color: #2F2E2E;
}

.our_services h1{
    font-weight: 900;
    font-size: 51px;
    text-align: center;
    margin-bottom: 61px;
    padding-right: 40px;
}

.services_content h5{
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 9px;
}

.services_content{
    text-align: center;
}

.services_content p{
    font-size: 16px;
    padding: 2px;
}

.about_us{
    display: flex;
    flex-direction: row;
    padding: 132px 0 101px 179px;
    font-family: 'Playfair Display', serif;
    color: #2F2E2E;
}

.about_us_content{
    margin: 25px 175px 0 26px;
    
}

.about_us h1{
    font-weight: 900;
    font-size: 51px;
    margin-bottom: 33px;
}

.about_us_content{
    font-size: 31px;
    line-height: 53px;
}

.about_us_content a{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2F2E2E;
}

.testimonial h1{
    font-family: 'Playfair Display', serif;
    font-size: 51px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 78px;
}

.testimonial_content{
    display: flex;
    flex-direction: row;
    margin: 0 188px 78px 100px;
}

.people_1{
    display: flex;
    flex-direction: row;
}

.people_2{
    display: flex;
    flex-direction: row;
}

.people_1 h1, .people_2 h1{
    font-size: 28px;
    text-align: left;
    margin-right: 130px;
    margin-bottom: 16px;
}

.people_1 p, .people_2 p{
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    width: 300px;
    line-height: 23px;
}

.people_1 .text, .people_2 .text{
    margin-left: 29px;
    margin-top: 15px;
}

.footer{
    background-color: #2E2F32;
    height: 97px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    align-items: center;
}

.footer img{
    height: 22px;
    margin-right: 36px;
}